:root {
    --background: #efe9f0;
    --btnTEXTOpCalc: #fff;
    --btnBACKOpCalc: #798897;
    --btnTEXTOpMath: #fff;
    --btnBACKOpMath: #8A5E69;
    --btnBACKNumbers: #daaed094;
    --btnEqual: #d48d91;
    --colorPrevious: #A66476;
    --textHover: #fff;
    --hover: rgb(56, 56, 56);
    --hoverEqual: #ce3239;
    --colorAll: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    transition: background 0.5s linear, color 0.5s linear;
}

body {
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em 5em;
}

#calc {
    background-color: var(--background);
    width: 400px;
    height: 90vh;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 0.7em;
    color: var(--colorAll);
    border-color: var(--colorAll);
}

#calc h3 {
    font-size: .8em;
    font-weight: 300;
    padding-top: 1em;
    padding-left: 1em;
    color: var(--colorAll);
}

#operations {
    text-align: right;
}

#previous-operation {
    color: var(--colorPrevious);
    font-size: 1.4em;
}

#current-operation {
    font-size: 2.7em;
    font-weight: 700;
}

#previous-operation,
#current-operation {
    overflow-wrap: break-word;
    padding: 0.2em;
    min-height: 1.7em;
}

#buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}

#buttons-container button {
    background-color: var(--btnBACKNumbers);
    border: 1px solid transparent;
    border-radius: 0.3em;
    height: 3.8em;
    font-size: 1.3em;
    cursor: pointer;
}

#buttons-container button:hover {
    opacity: 0.8;
    background-color: var(--hover);
    color: var(--textHover);
}

#buttons-container #equal-btn {
    grid-column: span 2;
    background-color: var(--btnEqual);
    color: #fff;
}

#buttons-container #equal-btn:hover {
    background-color: var(--hoverEqual);
}

.fourOp {
    background-color: var(--btnBACKOpMath) !important;
    color: var(--btnTEXTOpMath);
    font-weight: bold;
}

.calcOp {
    background-color: var(--btnBACKOpCalc) !important;
    color: var(--btnTEXTOpCalc);   
}

.control {
    width: 35vw;
    height: 90vh;
    margin-left: 1em;
    padding: 1em;
    border: 1px solid var(--colorAll);;
    border-radius: 0.7em;
}

#boxTheme {
 text-align: center;
 color: var(--colorAll);
}

#theme {
    cursor: pointer;
}

#history {
    margin-top: 1em;
    padding: 1em;
    border: 1px solid transparent;
    background: var(--btnBACKOpCalc);
    color: var(--btnTEXTOpCalc);
    border-radius: 5px;
    height: 80vh;
}

#history h4 {
    margin-bottom: 10px;
    font-size: 18px;
}

#history-list {
    list-style: none;
    padding: 0;

    overflow-y: auto;
}

#history-list li {
    margin-bottom: 5px;
    font-size: 2em;
}

@media (max-width: 900px) {
    #boxTheme {
        display: none;
    }
}